{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-align-center">{{notification}}</div>
    
{% endfor %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnection</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <div class="mb-3">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    <div class="mb-3">
        <div class="column">
            <div class="col-md-6 my-1">
                <label>
                <input type="checkbox" name"_remembe_me" checked>Se souvenir de moi
                </label>
            </div>
            <div class="col-md-6 text-lg-end my-1">
                <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
            </div>
        </div>
    </div>
    

    
    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-dark mt-2 col-2" type="submit">Connexion</button>
    <a href=""></a>
    
</form>
{% endblock %}
