
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-3 mb-3 display-5 fw-medium">Inscription</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        {{ form_row(registrationForm.prenomUser, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Prénom'}}) }}
                        {{ form_row(registrationForm.nomUser, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Nom'}}) }}
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'E-mail'}}) }}
                        {{ form_row(registrationForm.telUser, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Numéro de téléphone'}}) }}
                        {{ form_row(registrationForm.dateNaissanceUser, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Date de naissance'}}) }}
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        {{ form_row(registrationForm.adresseUser, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Adresse'}}) }}
                        {{ form_row(registrationForm.zipcode, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Code postal'}}) }}
                        {{ form_row(registrationForm.city, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Ville'}}) }}
                        {{ form_row(registrationForm.plainPassword.first, {
                            'attr': {'class': 'form-control mb-3', 'placeholder': 'Mot de passe'}
                        }) }}
                        {{ form_row(registrationForm.plainPassword.second, {
                            'attr': {'class': 'form-control mb-3', 'placeholder': 'Confirmez le mot de passe'}
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                </div>
            </div>
             <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg col-3 mb-3">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            border-radius: 15px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-size: 1.2rem;
        }
    </style>
{% endblock %}



