{% extends 'base.html.twig' %}

{% block h1 %}Abonnement{% endblock %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('app_abonnement_new') }}">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Prix</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }}</td>
                <td>{{ abonnement.libelle }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.description }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_abonnement_show', {'id': abonnement.id}) }}">Afficher</a>
                    <a class="btn btn-secondary" href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
