{% extends 'base.html.twig' %}
{% block h1 %}Abonnement{% endblock %}

{% block title %}Abonnement{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ abonnement.libelle }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ abonnement.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ abonnement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_abonnement_index') }}">Retour</a>

    <a class="btn btn-danger" href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
