{% extends "base.html.twig" %}

{% block h1 %}
    <h1 class="text-center text-primary my-4">Rejoins-nous et dépasse tes limites</h1>
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <img class="w-100 img-fluid" src="{{ asset('images/femme-halteres.jpg') }}" alt="Image principale">
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('/images/equipement_espaces .jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Équipements modernes</h5>
                        <p class="card-text">Profitez de notre équipement de pointe et de nos installations de qualité pour des séances d'entraînement efficaces et agréables. Dans une ambiance incontestable</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/cours_collectifs3.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Cours de groupe</h5>
                        <p class="card-text">Rejoignez nos cours de groupe animées par des instructrices passionnées et atteignez vos objectifs de fitness en vous entraînant avec d'autres membres motivés.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('images/coaching1.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Entraînement personnel</h5>
                        <p class="card-text">Travaillez individuellement avec nos coachs personnels certifiées pour des séances d'entraînement sur mesure adaptées à vos besoins et objectifs personnels.</p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center mt-4">Avis de nos membres</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Avis 1</h5>
                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <p class="card-text">Les séances d'entraînement post-partum m'ont vraiment aidée à retrouver ma force et ma confiance en moi.!</p>
                        <p class="card-text text-end"> Anna, Membre depuis 2 ans</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Avis 2</h5>
                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <p class="card-text">J'ai perdu plus de 10 kilos depuis que je me suis inscrit à LadyFitLand. Les cours de groupe sont ma partie préférée de la journée!</p>
                        <p class="card-text text-end"> Melissa, Membre depuis 1 an</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Avis 3</h5>
                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9734;</span>
                        </div>
                        <p class="card-text">La salle de sport LadyFitLand a transformé ma vie. Les coachs sont compétentes et motivantes, et l'ambiance est super.</p>
                        <p class="card-text text-end"> Sophie, Membre depuis 6 mois</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.2rem;">Envie de nous rejoindre ? Choisis ton abonnement dès maintenant !</p>
            <a class="btn btn-primary col-3" href="{{ path('frontAbonnement') }}">Inscription</a>
        </div>
    </div>
</div>
{% endblock %}
