<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{#lien CDN de BS#}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		{#link fichier style.css du dossier public/CSS#}
		<link rel="stylesheet" href="{{asset('css/style.css')}}"> {% block stylesheets %}{% endblock %}
		{#{% block importmap %}
									{{ importmap('app') }}
								{% endblock %} voir c'est quoi ça#}
		</head>

		<body>

			<nav class="navbar navbar-expand-lg bg-dark-subtle">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{path('page_principale')}}">LadyFitLand</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{path('frontAbonnement')}}">Abonnements</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="{{path('espaces_salle')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Espaces
								</a>
								<ul class="dropdown-menu bg-light">
									<li>
										<a class="dropdown-item" href="{{path('espace_musculation')}}">Musculation</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('espace_cardio')}}">Cardio</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('espace_coursCollectifs')}}">Cours collectifs</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('espace_detente')}}">Détente</a>
									</li>
								</ul>
							</li>

							{#
																						Si l'utilisateur est connecté alors app.user retourne un objet de l'entity User
																						Si l'utilisateur n'est pas connecté alors app.user retourne null
																					#}

							{% if app.user %}

								{% if is_granted('ROLE_ADMIN') %},
									{# PARTIE ADMIN #}
									<li>
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Dashboard
										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="{{ path('app_abonnement_index')}}">Gestion des Abonnements</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{path('app_espaces_admin_index')}}">Gestion des espaces</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{path('app_cours_index')}}">Gestion des cours</a>
											</li>
										</ul>
									</li>
								{% endif %}
								{#si l'Admin est connecté#}
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
								</li>
								{#Interface User non connecté#}
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
								</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</nav>

			<main class="col-md-10 mx-auto p-2">
			<h1 class="text-center text-dark my-2">{% block h1 %}{% endblock %}</h1>
			{% block body %}{% endblock %}
			</main>

				{#lien CDN js de BS#}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
				{#Likn avec le fichier JS du dossier JS public#}
				<script src="{{asset('js/script.js')}}"></script>
				{% block javascripts %}{% endblock %}

				<footer class="footer bg-dark mt-5 p-4 text-center text-white justify-content-center">
				<div class="footer text-white align-item-center">
				<p>Contact</p>
				<p>Adresse de la salle</p>
				<p>Mention légales</p>
				</div>
				</footer>
			</body>
			
		</html>
