{% extends "base.html.twig" %}

{% block h1 %}{% endblock %}

{% block body %}
<div class"container-fluid bg-size-cover">
    <div class="mt-5 text-center">
            <h1>CHOISIS L'ABONNEMENT QUI TE CONVIENT</h1>
            <p>Atteins tes objectifs sportifs dans ta salle 100% féminine LadyFitLand. Que tu sois débutante ou confirmée, retrouve des espaces Cardio, Musculation, Cross-training et Cours Collectifs pour effectuer tous tes entraînements !</p>
        </div>
    </div>

    <section class="p-5" id="typesAbonements">
        <div class="container">
            <div class="row justify-content-center ">
                {#Boucle permettant d'afficher les abonnements#}
                {% for abonnement in abonnements %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card mx-3 mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{abonnement.libelle}}</h5>
                                <h2 class="montantAbonnement text-center">{{abonnement.prix}}€/mois</h2>
                                <p class="card-text">
                                {#condition pour limiter la taille des caractères de la description#}
                                {% if abonnement.description|length > 20 %}
                                    {{ abonnement.description|slice(0, 20) }}...
                                {% else %}
                                    {{ abonnement.description }}
                                {% endif %}
                                </p>
                                <div class="d-flex justify-content-around">
                                    <a href="{{ path('frontAbonnement', {'id' : abonnement.id}) }}" class="btn btn-outline-secondary btn-sm">Voir les détails</a> 
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </section>

    
{#insertion des cardes des types d'abonement avec BS#}

{% endblock %}

