{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibCours</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>QuantiteParticipant</th>
                <th>Coach</th>
                <th>Instructions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.libCours }}</td>
                <td>{{ cour.dateDebut }}</td>
                <td>{{ cour.dateFin }}</td>
                <td>{{ cour.heureDebut }}</td>
                <td>{{ cour.heureFin }}</td>
                <td>{{ cour.quantiteParticipant }}</td>
                <td>{{ cour.coach }}</td>
                <td>{{ cour.instructions }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">Afficher</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_cours_new') }}">Ajouter</a>
{% endblock %}
